// 主页文章添加阴影效果 
.article {   
    margin-top: 60px;   
    margin-bottom: 60px;   
    padding: 25px;   
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);   
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);   
    //发光阴影-webkit-box-shadow: -1px 0 20px #3B3B3B, 1px 0 20px #3B3B3B, 0 -1px 20px #3B3B3B, 0 1px 20px #3B3B3B  
    //发光阴影-moz-box-shadow: -1px 0 20px #3B3B3B, 1px 0 20px #3B3B3B, 0 -1px 20px #3B3B3B, 0 1px 20px #3B3B3B  
    //-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);//设置两层阴影  
    //-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);//设置两层阴影  
}